/* You can add global styles to this file, and also import other style files */
body { 
    background-color: rgb(240, 203, 147);
    height:auto;
    overflow: hidden; /* Hide scrollbars */
    //background-image: url("/assets/dungeons-and-dragons-fire-dragon-xrn1ultx20eejpx6.jpg");
}

/* Hide scrollbar for Chrome, Safari and Opera */

  