
<html>
    <body>
        <div> 
            <div class="topnav" id="topBar" >
              <a class="active" href="">Carissa</a>
              <a href="">Corey</a>
              <a href="">Dorian</a>
              <a href="">Sarah</a>
              <a href="">Jose</a>
              <a href="">NPCs</a>
              <a href="">Story</a>
            </div>
        </div>
        <div class="position">
            <div class="square">
           
            </div>
        </div>
    </body>
</html>



